*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
  background: #0b0f14;
  color: #e6e6e6;
  front-family: "Segoe UI, arial, sans-srif;
  padding: 20px
}

h1{
  text-align:center;
  color:#c2a85a;
  marging-bottom:10px
}

p{
  text-align:center;
  color:#aaa;
  margin-bottom:20px
}

h2{
  color:#c2a85a;
  margin-bottom:10px;
}

.card{
  background:#141a22;
  padding:15px;
  margin-bottom:15px;
  border-raidos:10px;
  border-left:4px solid #c2a85a;
  box-shadow:0 0 10px rgba(0,0,0,0,4);
}

.grid{
  display: grid;
  grid-tamplate-columns:repeat(3, 1fr);
  gap:10px;
}

input{
  wdth:100%;
  padding:8px;
  background:#0f141b;
  border:1px solid #222;
  border-radius:6px;
  color:#fff;
}

input[readonly]{
  background:#0a0d12;
  color:#999;
}

.skill{
  display: grid;
  grid-tamplates-columns:2fr 1fr 0.5fr 0.5fr;
  align-items:center;
  gap:8px
  margin-bottom:6px;
  padding:6px;
  boder-bottom:1px solid #222;
}

.skill span{
  front-size:14px;
}
